@import './Fonts.css';

.semi-bold {
    font-weight: var(--semibold);
}

.hashtag {
    color: #4C82B2;
}

.row-spacing-custom {
    margin-bottom: 0;
}

.details-section {
    max-height: 60vh;
    overflow-y: auto;
}

.reply {
    opacity: 0.7;
    font-size: 14px;
}

.commenter {
    margin: 0px;
}

.timestamp {
    font-size: 12px;
    opacity: 70%;
}

@media(max-width: 800px) {
    .details-section {
        max-height: 10vh;
    }
}